//Mix-ins

.displayFlex(@justify, @align){
    display:flex;
    justify-content:@justify;
    align-items:@align;
  }

.button-style(@font-size,@padding,@width,@height){
    display:block;
    font-size:@font-size;
    padding:@padding;
    @width:@width;
    @height:@height;
}